body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
    font-size: 35px;
    border: 2px solid black;
    margin-bottom: 4px;;
}
table{
    border:3px;
    margin:0;
}
input{
    width:20px;
    height:20px;
    margin:0;
}
td{
    text-align: center;
    width:20px;
    height:20px;
    margin:0;
}
tr{
    margin:0;
}
.informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}